.footerContainer {
    width: 100%;
    z-index: 1;
    height: 30px;
    left: 0;
    right: 0;
    /* border: 1px solid black; */
    background-color: rgb(223, 213, 213);
    display: flex;
    flex-wrap: wrap;
    flex-direction : column;
    /* align-content: space-around; */
    justify-content: space-around;
}